.footer-bottom-area {
    background-color: #000;
}

.navbar-area .main-nav nav .navbar-nav .nav-item a {
    font-size: 20px;
}

.img-header-item {
    padding-top: 87px;
    width: 100%;
}

.ant-message{
    z-index: 999999999;
}

