$product-main-color: rgb(255, 148, 0);

.footer-bottom-area {
    background-color: #000;
}

.navbar-area .main-nav nav .navbar-nav .nav-item a {
    font-size: 20px;
}

.img-header-item {
    padding-top: 87px;
    width: 100%;
}

.ant-message {
    z-index: 999999999;
}

.product-highlight-container {
    margin: 2em 0.2em;
}

.product-highlight-icon {
    width: 45%;
}

.text-center {
    text-align: center;
}

.text-container {

    .sub-title {
        padding: 0;
        margin: 0;
    }
}

/*  */

.product-cal-premium {
    border: 3px solid $product-main-color;
    box-sizing: border-box;
    box-shadow: 0px 4px 10px rgb(0 0 0 / 25%);
    border-radius: 10px;
    padding: 5px 0;

    .grid-divider {
        position: relative;
        padding: 50px;

        .col-padding {
            padding: 0 15px;
            text-align: center;
        }
    }
}

.ml-0,
.mx-0 {
    margin-left: 0 !important;
}

.mr-0,
.mx-0 {
    margin-right: 0 !important;
}

.btn-mode-payment-select {
    color: white;
    background-color: #f34c00;
    width: 100%;
}

.btn-mode-payment {
    color: white;
    background-color: #bfbfbf;
    width: 100%;
}


.img-gender {
    cursor: pointer;
    width: 180px;
}

.remark {
    color: #f34c00;
}

.footer-installment {
    background-color: #f2f2f2;
    text-align: center;

    .view-footer-installment {
        padding: 5px;

        img {
            width: 30px;
            margin-bottom: 11px;
            margin-top: 1px;
            padding-top: 3px;
        }

        span {
            color: #262566;
            padding: 10px
        }
    }
}